* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Microsoft YaHei";
    text-decoration: none;
    list-style-type: none;
    font-weight: normal;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url(images/beijing.jpg);
    background-repeat: repeat;
    margin: 0;
}
#top {
    height: 32px;
    background-color: #032950;
    text-align: right;
}
#top-link {
    width: 1140px;
    padding-right: 60px;
    margin-left: auto;
    margin-right: auto;
}
#top-link a {
    color: #fff;
    font-size: 12px;
    line-height: 12px;
}
#top-link span {
    padding: 0 10px;
    font-size: 12px;
    color: #fff;
    line-height: 32px;
}
#main-head {
    background-color: #11406c;
    height: 140px;
    padding: 0 calc((100% - 1200px) / 2);
}
#logo {
    float: left;
    width: 340px;
    height: 100px;
    padding-top: 10px;
}
#custom-nav {
    float: right;
    padding-top: 15px;
    width: 400px;
    color: #fff;
}
#custom-nav a {
    font-size: 14px;
    line-height: 45px;
    color: #fff;
    padding: 0 6px;
}
#search {
    height: 20px;
    display: inline-block;
    margin-left: 470px;
}
#search-input {
    line-height: 20px;
    height: 20px;
    width: 215px;
}
select {
    display: inline-block;
    height: 20px;
    background-color: rgb(248, 248, 248);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(166, 166, 166);
    border-image: initial;
    font-size: 1px;
}
#search img {
    height: 18px;
    padding-top: 5px;
}
#main-nav {
    margin-top: 25px;
}
#main-nav li {
    float: left;
    width: 86px;
    text-align: center;
}
#main-nav #li-1 {
    width: 58px;
}
#main-nav a {
    color: #fff;
}
#wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 1415px;
    background-color: #fff;
}
#menu {
    margin-top: -5px;
    padding-top: 10px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #6d6d6d;
    height: 65px;
    background-color: #00467f;
}
#menu li {
    float: left;
    width: 120px;
    text-align: center;
}
#menu li a {
    color: #fff;
    line-height: 28px;
}

#content {
    padding: 30px 25px;
    height: 240px;
}
#main-news {
    float: left;
    width: 280px;
    margin-right: 28px;
}
#main-news p,a {
    font-size: 16px;
    color: #474747;
    line-height: 20px;
}